@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-50;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-glass backdrop-blur-md border border-glass-border rounded-xl;
  }
}
